/* ! This is a Boiler Plate customized CSS CSS design themes folder*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;

  flex-direction: column;
  /* Defining the main axis */
  align-items: center;
  /* cross axis - center */
  justify-content: center;
  /* main axis -  center */

  height: 100vh;
  overflow: hidden;
  margin: 0;
}
